.container{
    width: 100;
    background-color: azure;
}

.seccion {
    background-color: darkcyan;
    padding: 1 rem;
    margin: 1 rem;

}
.parrafo {
    background-color: white;
    padding: 1rem;
    

}
.parrafo.dragging {
    opacity:0.3;
}
.img-f {
    width: 100%;
height: 100px;
background-color: aquamarine;
}

#tachito {
    width: 100px;
    display: flex;
    
    
}
#tachito.dragover{
    background-color: blue;

}
